nav {
  width: 400px;
  margin: 0 auto;


}
nav ul li{
  list-style: none;
  float: left;
  margin: 0 34px;
  transition: all .4s;
}

nav ul li:hover{
  border-bottom: 2px solid red;
  transform: scale(1.2);
}

header{
  text-align: center;
  border: 1px solid red;
  height: 200px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  background-image:
   url("https://images.unsplash.com/photo-1501854140801-50d01698950b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600&q=80");
}

header h1 {
  transition: transform .4s ease-in;
  clear: both;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 60px;
}

header h1:hover {
  transform: rotateY(180deg) scale(3);
}

img {
  height: 100%;
  max-height: 129px;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

section {
  margin-top: 100px;
}

div {
  width: 18%;
  float: left;
  text-align: center;
  margin: 5px;
  min-height: 680px;
}

div:nth-child(odd){
  background-color: aliceblue;
}

div:nth-child(even){
  background-color: #cbdeff;
}

div p {
  text-align: left;

}

.btn {
  display: block;
  font-family:sans-serif;
  margin-top: 5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .2s;
  position: relative;
  background-color: white;
  border: 1px solid black;
  padding: 15px;
  border-radius: 20px;
  color: black;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 2px 2px rgba(0,0,0,.6);
  background-color: #666;
  color: white;
}

@media screen and (max-width: 768px) {
  div {
    width: 46%;
    margin: auto 5px;
  }
  img {
    max-height: 228px;
  }
}

@media screen and (max-width: 480px) {
  div {
    width: 100%;
  }
}
